header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}
.logo{
	cursor: pointer;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	background-color: #111;
}
.buu{
	background-color: white;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.buu{
	border-radius: 12px;
}